.txtbox1 {
    font-weight: 600;
    font-size: 42px;
    color: #151A35;
}

.txt2box1 {
    font-weight: 400;
    font-size: 20px;

    color: #5B5E71;
}

.rightbox1 img{
    width: 100%;
}

.leftbox1 {
    width: 40%;
}

.rightbox1 {
    width: 55%;
}

.rightbox2{
    width: 45%;

}

.leftbox2{
    width: 50%;
}

.txthead {
    font-weight: 600;
    font-size: 36px;

    color: #000000;
}

.box2fix{

   width: 100% !important;
}

.phantubox2 {
    width: 22%;
}

.txtbox2 {
    font-weight: 600;
    font-size: 24px;

    color: #151A35;
}

.txt2box2 {
    font-weight: 400;
    font-size: 16px;

    color: #5B5E71;


}

.txtbox3 {
    font-weight: 600;
    font-size: 36px;


    color: #FFFFFF;


}

.box3 {
    padding: 2em;
    width: 100%;
    background: linear-gradient(180deg, #35129D 0%, #7B53EF 100%);
    border-radius: 44px;
}

.buttonbox3 {
    background: #FFFFFF;
    border-radius: 6px;
    padding: .75em 2em;
    font-weight: 500;
    font-size: 16px;

    color: #000000;

    transition: 0.5s ease;
}

.buttonbox3:hover {
    opacity: 0.7;
}

.phantubox3 {
    width: 100%;
    margin: 2em 0 2em 0;
}

.txtfoot {
    font-weight: 400;
    font-size: 18px;

    color: #5B5E71;
}

.phantubox4 {
    width: 30%;
    text-align: center;
}

.txtbox4 {
    font-weight: 800;
    font-size: 60px;
    color: #151A35;
}

.box4 {
    padding: 0 10% 0 10%;
}

.txt2box4 {
    font-weight: 500;
    font-size: 24px;

    color: #653FD5;
}

.bi-chevron-left, .bi-chevron-right {
    font-weight: bold !important;
    cursor: pointer;
    font-size: 2em;
}

.bi-chevron-left:hover, .bi-chevron-right:hover {
    opacity: 0.7;
}

.footbox5 {
    font-weight: 400;
    font-size: 18px;

    color: #151A35;
}

.btnchoice {
    padding: .5em 1.75em;
    font-weight: 400;
    font-size: 20px;
    background: #FFFFFF;

    /* Primary */
    border: 2px solid #B8BAC2;
    /* border-radius: 4px 0px 0px 4px; */
    color: #B8BAC2;
}

.btnchoice.active {
    background: #FFFFFF;

    /* Primary */
    border: 2px solid #653FD5;
    /* border-radius: 4px 0px 0px 4px; */
    font-weight: 600;
    font-size: 20px;

    color: #653FD5;
}


.btnchoice:hover {
    opacity: 0.8;
    border: 2px solid #653FD5;
    color: #653FD5;
}

.headform {
    font-weight: 600;
    font-size: 24px;

    color: #151A35;
}

.bodyform {
    font-weight: 400;
    font-size: 16px;

    color: #151A35;
}

.txtform1 {
    font-weight: 500;
    font-size: 16px;

    color: #151A35;
}

.txtform2 {
    font-weight: 400;
    font-size: 12px;

    color: #653FD5;
}

.fadeimg.active{
    display: block;
}

.fadeimg{
    display: none;
}

.btnchuyenanh{
    height: .75em;
    width: .75em;
    border-radius: 50%;
    cursor: pointer;
}

.btnchuyenanh.active{
    background-color: #000000;
}

.leftbox6{
    background: #FFFFFF;
box-shadow: 0px 4px 48px rgba(27, 37, 69, 0.09);
border-radius: 16px;
padding: 2em;
width: 22em;
}

p .bi-check-lg{
    margin-right: 1em !important;
}

.leftbox6 p:not(.txthead){
    font-weight: 400;
font-size: 16px;
color: #5B5E71;
display: flex;

}

.leftbox6 span{
    font-weight: 600;
font-size: 20px;

text-transform: uppercase;

/* Text secondary */
color: #B8BAC2;
}


.phantubox5{
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3em;
    cursor: pointer;
    transition: 0.5s ease;
}

.phantubox5 img{
    margin-right: 2em;
    width: 7em;
    height: 7em;
}

.txtbox5{
    padding: .25em .5em;
    background: #F0ECFB;
border-radius: 18px;
color: #653FD5;
font-weight: 500;
font-size: 20px;
color: #653FD5;
width: fit-content;
}

.phantubox5:hover{
    opacity: 0.7;
}

.txtbold2{
    font-weight: 600;
font-size: 28px;
color: #000000;
}

.leftbox6{
    background: #FFFFFF;
box-shadow: 0px 4px 48px rgba(27, 37, 69, 0.09);
border-radius: 16px;
padding: 2em;
height: 40em;
width: 22em;
}

p .bi-check-lg{
    margin-right: 1em !important;
}

.moneyform{
    font-weight: 700;
font-size: 36px;
text-align: center;
color: #151A35;


}


.leftbox6 p:not(.txthead,.moneyform){
    font-weight: 400;
font-size: 16px;
color: #5B5E71;
display: flex;

}

.leftbox6 span{
    font-weight: 600;
font-size: 20px;

text-transform: uppercase;

/* Text secondary */
color: #B8BAC2;
}


.hrbox6{
    background-color: #E3E7EC;
    width: 100%;
    height: 1px;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 767px) {

    .box1,.box5,.box6 div{
        flex-direction: column;
    }

    .phantubox5{
        align-items: center;
    }

    .box2{
        flex-direction: column-reverse;
    }

    .leftbox1,.rightbox1,.leftbox2,.rightbox2, .rightbox2 img,.leftbox6{
        width: 100%;
    }

    .box.box3{
        display: none !important;
    }

    .txthead{
        font-size: 24px;
    }

    .box6 div{
        width: 100% !important;
    }

    .leftbox6{
        margin-bottom: 2em;
    }

    

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .txtbox1{
        font-size: 30px;
    }

    .txt2box1{
        font-size: 16px;
    }

    .rightbox2 img{
        width: 100%;
    }

    .phantubox5{
        width: 47%;
        align-items: center;
    }

    .phantubox3 {
        align-items: center;
    }

    .phantubox3 img {
        width: 22%;
        height: fit-content;
    }

    .box6 div{
        display: flex;
        flex-direction: column;
    }

    .box6 div{
        width: 100% !important;
    }

    .leftbox6{
        margin-top: 2em;
    }

}