.txt1box1 {
    font-weight: 600;
    font-size: 42px;

    color: #151A35;
}

.txt2box1 {
    font-weight: 400;
    font-size: 18px;

    color: #5B5E71;
}

.leftbox3 {
    width: 40%;
}

.rightbox3 {
    width: 60%;
    display: flex;
    justify-content: center;
}

.imgbox3 {
    width: 90%;
}

.leftbox1 {
    width: 42%;
}

.rightbox1 {
    width: 58%;
    display: flex;
    justify-content: center;
}



.txt1box3 {
    font-weight: 400;
    font-size: 34px;
    color: #151A35;
}

.leftbox4 {
    width: 45%;
}

.imgbox4 {
    width: 100%;
}

.rightbox4 {
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftbox5 {
    width: 45%;
    display: flex;
    justify-content: center;
}

.imgbox6{
    width: 100%;
}

.rightbox5 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.imgbox5 {
    width: 100%;
}

.linkbox6 {
    background: #FFFFFF;
    border: 1px solid #E3E7EC;
    border-radius: 12px;
    padding: 1em;
    text-decoration: none;
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}

.linkbox6:hover {
    opacity: 0.7;
}

.txt2linkbox6 {
    font-weight: 400;
    font-size: 16px;

    color: #653FD5;
}

.txtlinkbox6 {
    font-weight: 400;
    font-size: 24px;

    color: #151A35;
}

@media screen and (max-width: 767px) {

    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình mobile */
    .box1,.box3,.box4,.box5,.box6,.box8{
        display: flex;
        flex-direction: column;
    }

    .box4{
        flex-direction: column-reverse;
    }

    .leftbox1,.rightbox1,.leftbox3,.rightbox3,.leftbox4,.leftbox5,.rightbox4,.rightbox5{
        width: 100%;
    }

    .txt1box1{
        font-size: 24px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình tablet */

   .box1{
    flex-direction: column;
   }

   .leftbox1,.rightbox1{
    width: 100%;
   }
    
}