body {
    background-image: url('../images/background.png');
    font-family: 'Open Sans';
    font-style: normal;
    padding: 2em 15% 0 15% !important;
}

.navbar {
    background-color: transparent !important;
}

.btntuvan {
    background: #653FD5;
    border-radius: 5px;
    color: white;
    padding: .5em 1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
    border: .5px solid #653FD5;
    width: fit-content;
    box-shadow: #653FD5 0px 5px 10px;
}

.btntuvan:hover {
    border: .5px solid #653FD5;
    color: #653FD5;
    background-color: white;
}

.active {
    font-weight: bold !important;
}

.navbar-collapse {
    margin-left: 4em !important;
    /* display: flex !important;
    justify-content: center !important; */
}

.navbar-nav {
    width: 80%;
    /* display: flex; */
    justify-content: space-between;
}

.box {
    width: 100%;
    margin: 4em 0;
}

.btnchitiet {
    background: transparent;
    border-radius: 5px;
    color: black;
    padding: .5em 1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
    border: .5px solid transparent;
    margin-left: 2em;
    font-weight: 600;
    border: 1px solid #F3F3F5;
    border-radius: 4px;
}

.btnchitiet:hover {
    border: .5px solid #653FD5;
    color: white;
    background-color: #653FD5;
    box-shadow: #653FD5 0px 5px 10px;
    border: 1px solid #653FD5;
    border-radius: 4px;
}

.hidemobile {
    display: none;
}

@media screen and (max-width: 767px) {

    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình mobile */
    .hidemobile {
        display: block;
        text-align: left;
    }

    .hidemobilebtntuvan {
        display: none;
    }

    .navbar-collapse {
        margin: 0 !important;
    }

    body{
        padding: 1em !important;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình tablet */

    .hidemobile {
        display: block;
        text-align: left;
    }

    .hidemobilebtntuvan {
        display: none;
    }

    .navbar-collapse {
        margin: 0 !important;
    }

}