.box8 {
    padding: 0 5% 0 5%;
}

.phantubox8 {
    width: 28%;
    text-align: center;
}

.txtbox8 {
    font-weight: 500;
    font-size: 70px;
    color: #653FD5;


}

.txt2box8 {
    font-weight: 500;
    font-size: 30px;
    color: #653FD5;
}

.txt3box8 {
    font-weight: 400;
    font-size: 18px;

    color: #151A35;
}

table {
    width: 100%;
    text-align: center;
}

.box10 {
    width: 100% !important;
    padding: 0 15% 0 15%;
}

th, td {
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #151A35 !important;
}

tr {
    height: 4em !important;
    border-bottom: 1px solid #E3E7EC !important;
}

th {
    height: 6em !important;
}

.link1tb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: .5em 1em;
    width: 70%;
    color: #151A35;
    background: rgba(255, 255, 255, 0.41);
    border: 0.5px solid #E3E7EC;
    border-radius: 6px;
    transition: .5s ease;
}

.link1tb:hover {
    color: #FFFFFF;
    background-color: #653FD5;
    border-radius: 6px;
}

.bi-check-lg {
    color: #653FD5 !important;
}

.link2tb {
    width: 70%;
    padding: .5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #653FD5;
    border-radius: 6px;
    transition: .5s ease;
}

.link2tb:hover {
    color: #151A35;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 6px;
}

/* .fixtd2{
    display: flex;
    justify-content: center;
} */

.fixtd {
    border-left: 0.5px solid rgba(27, 37, 69, 0.09);
    border-right: 0.5px solid rgba(27, 37, 69, 0.09);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 48px rgba(27, 37, 69, 0.09)
}

.txtbold {
    font-weight: 600;
    font-size: 36px;
}

.box11 {
    padding: 0 9% 0 9%;
}

.txtbox11 {
    font-weight: 400;
    font-size: 36px;

    color: #151A35;
}

.txt2box11 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #151A35;
}

.imgbox11 {
    width: 25%;
    margin-bottom: 1em;
}


@media screen and (max-width: 767px) {

    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình mobile */
    .txtbold {
        font-size: 24px;
    }

    .phantubox8 {
        width: 100%;
    }

    .box10 {
        padding: 0;
    }

    .link1tb, .link2tb {
        display: flex;
        width: 100%;
        padding: .5em;
        font-size: 0.75em;
    }

    .link1tb:hover, .link2tb:hover {
        padding: .5em;
    }

    .txtbox11 {
        font-size: 1.5em;
    }

    .txt2box11 {
        font-size: 1em;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình tablet */

    .box10 {
        padding: 0 !important;
    }

    .box8{
        flex-direction: column;
    }

    .phantubox8{
        width: 100%;
    }
    

}