.txtbox1 {
    font-weight: 600;
    font-size: 42px;
    color: #151A35;
}

.txt2box1 {
    font-weight: 400;
    font-size: 20px;

    color: #5B5E71;
}

.leftbox1 {
    width: 40%;
}

.rightbox1 {
    width: 60%;
}

.txthead {
    font-weight: 600;
    font-size: 36px;

    color: #000000;
}

.box2fix {

    width: 100% !important;
}

.phantubox2 {
    width: 22%;
}

.txtbox2 {
    font-weight: 600;
    font-size: 24px;

    color: #151A35;
}

.txt2box2 {
    font-weight: 400;
    font-size: 16px;

    color: #5B5E71;


}

.txtbox3 {
    font-weight: 600;
    font-size: 36px;


    color: #FFFFFF;


}

.box3 {
    padding: 2em;
    width: 100%;
    background: linear-gradient(180deg, #35129D 0%, #7B53EF 100%);
    border-radius: 44px;
}

.buttonbox3 {
    background: #FFFFFF;
    border-radius: 6px;
    padding: .75em 2em;
    font-weight: 500;
    font-size: 16px;

    color: #000000;

    transition: 0.5s ease;
}

.buttonbox3:hover {
    opacity: 0.7;
}

.phantubox3 {
    width: 100%;
    margin: 2em 0 2em 0;
}

.txtfoot {
    font-weight: 400;
    font-size: 18px;

    color: #5B5E71;
}

.phantubox4 {
    width: 30%;
    text-align: center;
}

.txtbox4 {
    font-weight: 800;
    font-size: 60px;
    color: #151A35;
}

.box4 {
    padding: 0 10% 0 10%;
}

.txt2box4 {
    font-weight: 500;
    font-size: 24px;

    color: #653FD5;
}

.bi-chevron-left, .bi-chevron-right {
    font-weight: bold !important;
    cursor: pointer;
    font-size: 2em;
}

.bi-chevron-left:hover, .bi-chevron-right:hover {
    opacity: 0.7;
}

.footbox5 {
    font-weight: 400;
    font-size: 18px;

    color: #151A35;
}

.box5 {
    position: relative;
    overflow: hidden;
}

.fix100{
    width: 100%;
    height: auto;
}
#slider .carousel-inner {
    width: 70%;
  }

.btnchoice {
    padding: .5em 1.75em;
    font-weight: 400;
    font-size: 20px;
    background: #FFFFFF;

    /* Primary */
    border: 2px solid #B8BAC2;
    /* border-radius: 4px 0px 0px 4px; */
    color: #B8BAC2;
}

.btnchoice.active {
    background: #FFFFFF;

    /* Primary */
    border: 2px solid #653FD5;
    /* border-radius: 4px 0px 0px 4px; */
    font-weight: 600;
    font-size: 20px;

    color: #653FD5;
}


.btnchoice:hover {
    opacity: 0.8;
    border: 2px solid #653FD5;
    color: #653FD5;
}

.headform {
    font-weight: 600;
    font-size: 24px;

    color: #151A35;
}

.bodyform {
    font-weight: 400;
    font-size: 16px;

    color: #151A35;
}

.txtform1 {
    font-weight: 500;
    font-size: 16px;

    color: #151A35;
}

.txtform2 {
    font-weight: 400;
    font-size: 12px;

    color: #653FD5;
}

.fadeimg.active {
    display: block;
}

.fadeimg {
    display: none;
}

.btnchuyenanh {
    height: .75em;
    width: .75em;
    border-radius: 50%;
    cursor: pointer;
}

.btnchuyenanh.active {
    background-color: #000000;
}

.leftbox6 {
    background: #FFFFFF;
    box-shadow: 0px 4px 48px rgba(27, 37, 69, 0.09);
    border-radius: 16px;
    padding: 2em;
    width: 22em;
}

p .bi-check-lg {
    margin-right: 1em !important;
}

.leftbox6 p:not(.txthead) {
    font-weight: 400;
    font-size: 16px;
    color: #5B5E71;
    display: flex;

}

.leftbox6 span {
    font-weight: 600;
    font-size: 20px;

    text-transform: uppercase;

    /* Text secondary */
    color: #B8BAC2;
}

.phantubox2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 767px) {


    .box1, .box2, .box2fix div {
        display: flex;
        flex-direction: column;
    }

    .leftbox1, .rightbox1, .phantubox2 {
        width: 100%;
    }

    .box.box3, .box.box5 {
        display: none !important;
    }

    .txthead {
        font-size: 24px;
    }

    .txtfoot {
        width: 100% !important;
        font-size: 16px;
    }

    .box4 {
        display: flex;
        flex-direction: column;
    }

    .phantubox4 {
        width: 100%;
    }

    .hidemobile {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .box6 div {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .leftbox6 {
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Các quy tắc CSS chỉ áp dụng cho kích cỡ màn hình tablet */

    .rightbox1 img {
        width: 100%;
    }

    .box2 {
        display: flex;
        flex-direction: column;
    }

    .phantubox2 {
        width: 100%;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        text-align: left;
    }

    .box2fix div {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .phantubox3 {
        align-items: center;
    }

    .phantubox3 img {
        width: 22%;
        height: fit-content;
    }

    .box4 {
        padding: 0;
    }

    .anhbox5 {
        width: 100vw;
    }

    .fadeimg {
        width: 100%;
    }

    .footbox5 {
        width: 100% !important;
        font-size: 1em;
    }

    .box6 div {
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .leftbox6 {
        margin: 2em 0 0 0;
    }



}